@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 241 72% 6%;
  --foreground: 210 40% 98%;
  --card: 231 53% 14%;
  --card-foreground: 210 40% 98%;
  --primary: 221 70% 64%;
  --primary-foreground: 210 40% 98%;
  --secondary: 224 35% 18%;
  --secondary-foreground: 210 40% 98%;
  --muted: 224 31% 16%;
  --muted-foreground: 215 20% 72%;
  --accent: 220 22% 22%;
  --accent-foreground: 210 40% 98%;
  --border: 227 34% 24%;
  --input: 227 34% 24%;
  --ring: 221 70% 64%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}


.custom-rays canvas {
  opacity: 0.88;
}
